body {
  margin: auto;
  background-color: white;
}

title {
  margin: auto;
  color: lightblue;
  text-align: center;
  line-height: normal;
}

ul {
  list-style-type: none;
  margin: auto;
  width: 50%;
  padding: 0rem;
  overflow: hidden;
  border: 0.5em dotted silver;
  border-radius: 10px 45px;
  text-align: left;
  font-family: 'Supermercado One', sans-serif;
  color: grey;
}

li {
  float: left;
}

li a {
  display: block;
  color: silver;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #348;
}

.active {
  background-color: #6dfafc;
}

iframe {
  border: 6px groove #1e2121;
}

h1, h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vmin;
  color: skyblue;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

h3, h4, h5 {
  text-align: left;
  font-family: 'Permanent Marker', cursive;
  color: pink;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

p {
  text-align: left;
  font-family: 'Tilt Neon', sans-serif;
  color: purple;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

.plant, 
.uranium, 
.headshot {
  width: 200px;
  height: 250px;
  border: 8px inset black;
  float: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

.skills,
.exp {
  text-align: left;
  font-family: 'Tilt Neon', sans-serif;
  color: pink;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}
