body {
  margin: auto;
  background-color: #041f70;
}

title {
  margin: auto;
  color: lightblue;
  text-align: center;
  line-height: normal;
  background-color: #6e6d6a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 3px groove black;
  text-align: left;
  font-family: 'Permanent Marker', cursive;
  color: grey;
  background-color: #6e6d6a;
}

image {
  border: 6px rigid black;
}

.rock {
  width: 200px;
  height: 250px;
}

h1 {
  text-align: center;
  font-family: 'Supermercado One', sans-serif;
  color: #4fc4d1;
  background-color: #6e6d6a;
}

h2 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #15eb6e;
  background-color: #6e6d6a;
}

p {
  text-align: left;
  font-family: 'Tilt Neon', sans-serif;
  color: #c41d1d;
  background: #6e6d6a;
}
