body {
  margin: auto;
  background-color: white;
}

title {
  margin: auto;
  color: lightblue;
  text-align: center;
  line-height: normal;
}

ul {
  list-style-type: none;
  margin: auto;
  width: 25%;
  padding: 0rem;
  overflow: hidden;
  border: 0.5em dotted silver;
  border-radius: 10px 45px;
  text-align: center;
  font-family: 'Supermercado One', sans-serif;
  color: black;
}

li {
  float: center;
}

li a {
  display: block;
  color: silver;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #348;
}

.active {
  background-color: #6dfafc;
}

.active:hover {
  background-color: skyblue;
}

iframe {
  border: 6px groove #1e2121;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: skyblue;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: lightblue;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

h3, h4, h5 {
  text-align: left;
  font-family: 'Permanent Marker', cursive;
  color: pink;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

p {
  text-align: left;
  font-family: 'Tilt Neon', sans-serif;
  color: purple;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

.plant, 
.uranium, 
.headshot {
  width: 200px;
  height: 250px;
}

img {
  width: 200px;
  height: 250px;
  border: 8px inset black;
  border-radius: 5px;
  float: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

.skills,
.exp {
  text-align: left;
  font-family: 'Tilt Neon', sans-serif;
  color: pink;
  border-radius: 25px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 55px;
}

section {
  border: black;
  border-radius: 20px;
  background: linear-gradient(180deg, #ad2a5c 80px, white 10px);
  width: 80%;
  overflow: auto;
  padding: 20px;
  box-shadow: 0px 0px 0px 3px #7a1191, 0px 0px 0px 8px #1437a3;
  margin: 40px auto;
}
