body {
  margin: auto;
  background: lightgray;
}
title {
  margin: auto;
  color: lightblue;
  text-align: center;
  line-height: normal;
  background: darkgray;
}
nav {
  border: 4px inset gray;
  width: 20px;
  height: 20px;
  border: 3px groove black;
  text-align: left;
  font-family: 'Permanent Marker', cursive;
  font-color: grey;
  background: darkgray;
}
h1 {
  text-align: center;
  font-family: 'Supermercado One', sans-serif;
  font-color: lightblue;
  background: darkgray;
}
h2, h3, h4 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-color: lightgreen;
  background: darkgray;
}
p {
  text-align: left;
  font-family: 'Tilt Neon', sans-serif;
  font-color: brightred;
  background: darkgray;
}
