body {
  margin: auto;
  background-color: #041f70;
}

title {
  margin: auto;
  color: lightblue;
  text-align: center;
  line-height: normal;
  background-color: #6e6d6a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 4px groove white;
  text-align: right;
  font-family: 'Permanent Marker', cursive;
  color: grey;
  background-color: #6e6d6a;
}

image {
  border: 6px inset black;
}

div {
  width: 200px;
  height: 250px;
}

h1 {
  text-align: center;
  font-family: 'Supermercado One', sans-serif;
  color: #4fc4d1;
}

h2 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #15eb6e;
}

p {
  text-align: left;
  font-family: 'Tilt Neon', sans-serif;
  color: black;
}
